<%# locals: (season:) %>

<div id="<%= dom_id season %>">
  <p>
    <strong>Title:</strong>
    <%= link_to "#{season.title}", season_path(season) %>
    <%= link_to 'Edit', edit_season_path(season), data: { turbo_stream: true } %>
    <%= link_to 'Delete', season_path(season), data: { turbo_method: :delete } %>
  </p>
</div>
