<p style="color: green"><%= notice %></p>

<% content_for :title, "Seasons" %>

<h1>Seasons</h1>

<%= turbo_frame_tag 'new_season' do %>
    <%= render partial: 'seasons/new_season_link' %>
<% end %>

<div id="seasons">
  <% @seasons.each do |season| %>
    <%= render season %>
  <% end %>
</div>

