<p style="color: green"><%= notice %></p>

<% content_for :title, "Rounds" %>

<h1>Rounds</h1>

<div id="rounds">
  <%= render partial: 'rounds/rounds', locals: { rounds: @rounds } %>
</div>

<%= link_to "New round", new_round_path %>
